  <div class="jumbotron">
        <h1>Angular 2 sample app</h1>
        <p>Natoque taciti iaculis mus molestie scelerisque vel ut adipiscing a consectetur auctor at ornare magna adipiscing at morbi dapibus in potenti himenaeos facilisis platea in magnis dictumst parturient. Adipiscing ullamcorper mi ullamcorper consequat a feugiat placerat eleifend adipiscing vel dapibus congue a aliquam mi convallis a aliquet adipiscing euismod integer et a. Adipiscing tristique lacinia tincidunt eu magna conubia condimentum auctor gravida aliquet parturient fames fermentum porttitor a tristique.</p>
        <p></p>
        <p>
          <a class="btn btn-lg btn-primary" href="https://github.com/khahantk/angular2-sample" role="button">View on github &raquo;</a>
        </p>
      </div>